.iconPane
{
    -fx-background-color: linear-gradient(to bottom left, #6666ff, #00004d);
}

.btnLogin
{
-fx-background-color: #4d4dff;
-fx-text-fill: #ffffff;
}

.btnLogin
{
	-fx-background-color: #3333ff;
	-fx-opacity: 1;
	-fx-cursor: hand;
}

.btnLogin
{
	-fx-background-color: #3333ff;
	-fx-opacity: 1;
	-fx-background-radius: 20;
	-fx-cursor: hand;
}

.btnSignUp
{
    -fx-background-color: #b3b3ff;
    -fx-opacity: 0.8;
    -fx-text-fill: #4d4dff;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5;
}

.btnSignUp
{
	-fx-background-color: #ccccff;
	-fx-opacity: 1;
	-fx-cursor: hand;
}

.btnSignUp
{
	-fx-background-color: #ccccff;
	-fx-opacity: 1;
	-fx-background-radius: 20;
	-fx-border-radius: 25;
	-fx-cursor: hand;
}

.lblForgotPassword:hover
{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.lblOfflineLogin
{
    -fx-text-fill: #6666ff;
}

.lblOfflineLogin:hover
{
    -fx-text-fill: #4d4dff;
    -fx-cursor: hand;
}


