.button{
    -fx-background-color: #2a52be;
    -fx-text-fill: #ffffff;
}

.button:hover{
    -fx-cursor: hand;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 0px 1px;
}

.button:focused{
    -fx-background-color: #587bda;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 0px 3px;
}