.mainButton{
    -fx-background-color: #2a52be;
    -fx-text-fill: #ffffff;
}

.mainButton:hover{
    -fx-cursor: hand;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 0px 1px;
}

.mainButton:focused{
    -fx-background-color: #587bda;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 0px 3px;
}

.mainButton2{
    -fx-background-color: #2a52be;
    -fx-text-fill: #ffffff;
}

.mainButton2:hover{
    -fx-cursor: hand;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 1px 0px;
}

.mainButton2:focused{
    -fx-background-color: #587bda;
    -fx-border-color: #d5def6;
    -fx-border-width: 0px 0px 2px 0px;
}

.mainPane{
    -fx-background-color: #ffffff;
}

.bars{

    -fx-border-color: #2a52be;
    -fx-border-width: 0px 0px 0px 0px;
}

.researchButtons{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
}

.researchButtons:hover{
    -fx-border-color: #ccccff;
    -fx-border-width: 0px 0px 1px 0px;
}

.paneButtons
{
-fx-background-color: #4d4dff;
-fx-text-fill: #ffffff;
-fx-pref-width: 85px;
}

.paneButtons:hover
{
	-fx-background-color: #3333ff;
	-fx-opacity: 1;
	-fx-cursor: hand;
}

.paneButtons:pressed
{
	-fx-background-color: #3333ff;
	-fx-opacity: 1;
	-fx-background-radius: 20;
	-fx-cursor: hand;
}

.scrollpanels{
    -fx-background-color: #ffffff;
    -fx-border-width: 0px 0px 0px 0px;
}

.vboxes{
    -fx-background-color: #ffffff;
    -fx-border-width: 0px 0px 0px 0px;
}

.table-view .column-header,
.table-view .column-header-background .filter{
	-fx-background-color: #ffffff;
}

.table-view .column-header .label{
	-fx-text-fill: blue;
	-fx-alignment: CENTER_LEFT;
}

.table-view .cell{
	-fx-text-fill: #000000;
	-fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected{
	-fx-background-color: #ebe9f6;
}

.table-row-cell:selected .text{
	-fx-fill: #5243BF;
}